body {
  background-color: rgb(194, 237, 237);
  font-family: "Arial";
  color: rgb(0, 19, 105);
}

h1 {
  font-size: 62px;
  margin-left: 200px ;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 52px;
  margin-left: 410px ;
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
  font-style: Bold;
  margin-left: 190px;
  margin-top: 33px;
}

h4 {
  font-size: 30px;
  font-style: Bold;
  margin-left: 190px;
  margin-top: 33px;
}

p {
  font-size: 22px;
  text-align: left;
  margin-left: 190px;
  margin-right: 200px;
  margin-top: 10px;
  padding: 10px, 1px, 5px, 1px;
}

figcaption {
  font-size: 22px;
  font-style: italic;
  margin-left: 190px;
  margin-bottom: 20px;
}

button {
    color: rgb(0, 19, 105); /* dark blue*/
    background-color: rgb(64, 211, 222); /* light blue*/
    border-radius: 5px;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 190px;
    margin-top: 10px;
  }

  button a:hover {
    color: rgb(64, 211, 222);
    background-color: rgb(0, 19, 105);
  }


iframe{
margin-left: 190px;
}

#specialNav {
    color: rgb(0, 19, 105); /* dark blue*/
    background-color: rgb(64, 211, 222); /* light blue*/
    border-radius: 5px;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 190px;
    margin-top: 10px;
  }

#specialNav a:hover {
    color: rgb(64, 211, 222);
    background-color: rgb(0, 19, 105);
  }
